# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.local
*.cbproj
*.~1~
*.~3~
*.~2~
*.~4~
*.ini
*.#00
*.res
*.stat
*.ilc
*.ild
*.ilf
*.ils
*.map
*.tds
*.~5~
*.astinfo
*.astcache
