# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.local
*.cbproj
*.~1~
*.~3~
*.~2~
*.~4~
*.ini
*.#00
*.res
*.stat
*.ilc
*.ild
*.ilf
*.ils
*.map
*.tds
*.~5~
*.astinfo
*.astcache
*.cpp
*.~6~
*.~7~
*.~10~
*.~8~
*.~9~
*.pdi
VS_ConsoleApp/LR_1/.vs/LR_1/v17/.suo
*.db
*.ipch
*.h
*.sln
*.vcxproj
*.filters
*.log
*.user
*.recipe
*.iobj
*.ipdb
*.tlog
*.txt
*.pdb
*.exp
VS_ConsoleApp/LR_1_Console/.vs/LR_1_Console/v17/.suo
*.dat
*.rar
VS_ConsoleApp/LR_1_Name/.vs/LR_1_Name/v17/.suo
*.docx
